{% extends 'base.html.twig' %}

{% block body %}
    <h1>Trader</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ trader.id }}</td>
            </tr>
            <tr>
                <th>Job</th>
                <td>{{ trader.job }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('trader_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('trader_edit', { 'id': trader.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
